<%- include('./partials/header') %>

<form action="/auth/register" method="post">
    <input type="text" name="username" class="form-control" placeholder="Email"> <br>
    <input type="text" name="password" class="form-control" placeholder="Password"> <br>
    <Button type="submit" class="btn btn-primary">Register</Button>
</form>

<%- include('./partials/footer') %>
