<div class="card p-4 mb-4">
    <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
    </div>
    <div class="form-group mb-3">
        <label for="markdown" class="form-label">Markdown</label>
        <textarea name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
    </div>



    <div class="form-group mb-3">
        <label for="ckEditor" class="form-label">CKEditor</label>
        <div class="row">
            <div class="document-editor__toolbar"></div>
        </div>
        <div class="row row-editor">
            <div class="editor-container">
                <div id="ckEditor" contenteditable="true">
                    <%- article.sanitizedHtml %>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="hiddenCkEditorInput" name="ckEditor">
    </div>
    
    
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/" class="btn btn-secondary me-md-2 mb-2 mb-md-0">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>