<%- include('../partials/header', { pageTitle: "Edit: " + article.title, pageDescription: "Edit Article:" + article.description }) %>

<h1 class="mb-4">Edit Article</h1>

<form class="contentForm" action="/articles/<%= article.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
</form>

<%- include('../partials/footer') %>